---
import styles from "./hero-card.module.scss";

interface Props {
  title: string;
  className?: string | undefined;
}

const { title, className = "" } = Astro.props;
---

<li class={`${styles.container} ${className}`}>
  <h2 class={styles.title}>
    <span class={styles.titleInner}>
      <span aria-hidden="true" class={styles.icon}><slot name="icon" /></span>
      {title}
    </span>
  </h2>
  <slot />
</li>
