---
import Cpu from "./cpu.astro";
import cpuStyles from "./cpu.module.scss";
import styles from "./mobo.module.scss";
---

<div class={styles.container}>
  <div class={styles.imgContainer}>
    <Cpu className={styles.core} />
    <img
      class={styles.leftComponents}
      src="/illustrations/mobo-components.svg"
      alt=""
    />
    <img
      class={styles.rightComponents}
      src="/illustrations/mobo-components.svg"
      alt=""
    />
  </div>
</div>

<script define:vars={{ styles: cpuStyles }}>
  const container = document.querySelector(`.${styles.svgCpuContainer}`);

  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add(styles.active);
          observer.unobserve(entry.target);
        }
      });
    },
    { rootMargin: "0px 0px -50% 0px" },
  );

  observer.observe(container);
</script>
