---
import styles from "./solutions-card.module.scss";

interface Props {
  iconSrc: string;
  title: string;
  description: string;
  href: string;
  index: number;
}

const { iconSrc, title, description, href, index } = Astro.props;
---

<!-- TODO: Add the card props from Playful Programming -->
<div class={styles.container} data-index={index}>
  <img loading="eager" src={iconSrc} class={styles.icon} alt="" />
  <h3 class={styles.title}>{title}</h3>
  <p class={styles.description}>{description}</p>
  <!-- TODO: Add arrow -->
  <a href={href} class={styles.link}>Get started</a>
</div>
