---
import styles from "./footer.module.scss";
---

<footer>
  <img alt="" class={styles.bigOceanBitLogo} src="/logo-clay.svg" />
  <img alt="" class={styles.smallOceanBitLogo} src="/logo-clay-small.svg" />
  <div class={styles.contentContainer}>
    <div class={styles.contentContainerTop}></div>
    <div class={styles.contentMaxWidth}>
      <div class={styles.topPart}>
        <div class={styles.leftSideContainer}>
          <a href="/" class=`${styles.logoContainer}`>
            <img
              class="logo"
              src="/logo.svg"
              alt="An ocean wave contained in an invisible box"
            />
            <span class=`${styles.logoText}`>OceanBit</span>
          </a>
          <p class={styles.underLogoText}>
            Ensure a positive impact on your company,<br />all while fostering
            efficient team growth.
          </p>
        </div>
        <div class={styles.rightSideContainer}>
          <div class={styles.navContainer}>
            <p class={styles.navTitle}>Navigation</p>
            <ul class={styles.navList} role="list">
              <li>
                <a href="/" class={styles.navLink}>Home</a>
              </li>
              <li>
                <a href="/contact" class={styles.navLink}>Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class={styles.subFooter}>
        <div class={styles.contentContainerTop}></div>
        <div class={styles.subFooterContents}>
          <p class={styles.ccText}>© 2024 OceanBit, LLC.</p>
        </div>
      </div>
    </div>
    <div class={styles.aurora}>
      <div class={styles.auroraSkyOne}></div>
      <div class={styles.auroraSkyTwo}></div>
      <div class={styles.auroraBlue}></div>
      <div class={styles.auroraPurple}></div>
    </div>
  </div>
</footer>
