---
import styles from "./footer.module.scss";
---

<div>
  <img class={styles.bigOceanBitLogo} src="/logo-clay.svg" />
  <img class={styles.smallOceanBitLogo} src="/logo-clay-small.svg" />
  <div class={styles.contentContainer}>
    <div class={styles.contentContainerTop}></div>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <div class={styles.aurora}>
      <div class={styles.auroraSkyOne}></div>
      <div class={styles.auroraSkyTwo}></div>
      <div class={styles.auroraBlue}></div>
      <div class={styles.auroraPurple}></div>
    </div>
  </div>
</div>
