---
import styles from "./performance.module.css";
---

<div class={styles.container}>
  <div class={styles.outerSpeedometer}></div>
  <div class={styles.middleSpeedometer}></div>
  <div class={styles.innerSpeedometer}>
    <div class={styles.innerSpeedometerTextContainer}>
      <span class={styles.percentage}>96%</span>
      <span class={styles.fasterTimes}>Faster times</span>
    </div>
  </div>
</div>
